.container {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
     height: 525px;
    width: 400px;
    margin-left: 41.25vw;
    border: #080707 3px solid;
}
.calc-input{
    
    background: transparent;
    height: 70px;
    width: 98%;
    position: relative;
    font-size: 30px;
    color: greenyellow;
    box-shadow: inset 0 0 5px black;
    opacity: 0.7;
    text-align: right;
    margin-top: -30px;
    overflow: scroll    ;
    
    
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: row;
    }

    .numbers {
       display: flex;
    flex-direction: column;
    align-items: center;
    
   
    font-size: large;
   
    }
    .numbers button {
    width: 70px;
    height: 70px;
    margin: 5px;
    font-size: 24px;
    border-radius: 12px;
    border: none;
    background: #222;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s;
    margin-top: 10px;
}
.numbers button:hover {
    background: grey}





